
body{padding: 0px;margin: 0px;left:0px;overflow-x: hidden;}

body > *{text-align: justify;}

html{font-size: 10px;padding: 0px;margin: 0px;}

nav{position: fixed;;top: 0;left: 0;width: 100%;height: 50px;box-sizing: border-box;transition: .5s;opacity: 1;z-index: 1000;background-color: transparent;}

a{text-decoration: none;color: #fff;}

/* MENU */

.bd-example-modal-xl{columns: 1;}

.FonteNomeSite{ font-family: 'Archivo Black', sans-serif; font-size: 35px;color: #2d4773;}

.FonteNomeSite:hover{color: #2d4773;}

button.close{font-size: 35px;}

.FonteTextos{font-family: 'Archivo Narrow', sans-serif;font-size: 30px;}

.FonteTextoss{font-size: 40px;font-style: bold;}

.TextoMenu{font-family: 'Roboto', sans-serif;font-weight: 700;}

.FonteTextos2{font-size: 16px;font-family: 'Roboto', sans-serif;}
.WhateverYourNavIs {
      max-height: calc(150vh - 9rem);
      overflow-y: auto;
 }


 .calculo {
  top: calc(94% - 5rem);
 }
.nav button{margin-top: 5px;}

.nav button span{overflow: hidden;font-size: 17px;}

.dropdown-item > *{font-size: 26px;text-align: center;align-items: center;}

.dropdown-menu > *{padding-left: 24px;padding-right: 24px;border-radius: 0px; padding-top: 0px;padding-bottom: 0px;}

.Cadastro a{background-color:#201e5e;padding: 5px;margin-top: 8px;font-size: 20px;}

.sidebar{width: 180px;left: -180px;height:100%;background-color: #273478;position: fixed;box-shadow: 0px 0px 5px 5px 2px; opacity: 0;transition-duration: 0.7s;z-index: 1356;}

.sidebar .nav-link:hover{color: white;}

.sidebar li a i{text-align: center;}

/*.sidebar.descer{margin-top:  65px;transition: 0.5s}
*/
.navbar-open{left: 0px;opacity: 0.98; }

.carousel-caption{top: 35%;margin:auto;}

.tituloCarousel{font-size: 40px;}

.TituloTextos{font-size: 50px;}

.img-site{background-size: cover;background-position: center top;background-attachment: fixed;background-repeat: no-repeat;padding-top: 300px;padding-bottom: 300px;background-image: url(./img/paisagem.jpg);height: 100vh;}
.img-site2{background-size: cover;background-position: center top;background-attachment: fixed;background-repeat: no-repeat;padding-top: 300px;padding-bottom: 300px;background-image: url(./img/LogoTCCC.png);height: 100vh;}
.img-site3{background-size: cover;background-position: center top;background-attachment: fixed;background-repeat: no-repeat;padding-top: 300px;padding-bottom: 300px;background-image: url(./img/paisagem3.jpg);height: 100vh;}



a.buttonPagee{padding:5px;padding-left:10px;padding-right:10px;margin: 3px;border-radius: 2px;background-color: #28256c;}
a.buttonPagee:hover{background-color: #28256c;}
nav.cor{background-color:#3848a5;height: 80px;padding-top: 10px;padding:10px;transition: 0.4s;}

    @media (min-width:801px) and (max-width:2180px) 
    {
         nav.cor
        {
        background-color: #3848a5;

        padding: 5px 50px;
        opacity: 0.95;
        }
        .alturaDiv{height:  1750px;}
        
    }
 @media  (min-width: 371px) and (max-width:849px)
    {
    .FonteNomeSite{font-size: 30px;margin-top: -2px;}
    .topo > button {margin-top: 30px;}
   /* .sidebar{margin-top: 55px;}
    .sidebar.descer{margin-top:  77px;transition: 0.5s}*/
        .FonteTextos2{font-size: 15px;}
        .title h2 {
            font-size: 20px;
        }

    }



.heightt{height: 40rem;}

.modal-notify .modal-header {border-radius: 3px 3px 0 0;}

.modal-notify .modal-content {border-radius: 3px;}

.paddingT .row {}

.textCarrosel{font-size: 22px;}

.imgx{-webkit-mask-image: linear-gradient(to right, transparent 10%, blue 100%);}

.textoCarousel{font-size: 26px;}

   
.site-footer > div ul  li a{color: white;}



    @media (max-width: 859px)
    {
        .heightt{height: 20rem;}
        nav.cor{background-color:#3848a5;}
    }





    @media (min-width: 401px) and(max-width: 1280px)
    {
        .alturaDiv{height: 1500px;}

    }

     @media (min-width: 551px) and (max-width: 1880px)
    {
    .height{height: 22rem;}
    .FonteTextos{font-size: 2rem;}
    .pd{padding: 100px;}
    }

    @media (min-width: 550) and (max-width: 1201px)
    {
    .FonteTextos{font-size: 14px;}
      .textoCarouselEspecial {font-size: 14px;text-align: justify;}
      .carousel-caption{top: 10%;min-width: 800px;}
    }

    @media (max-width: 549px)
    {
    .FonteTextos{font-size: 1.7rem;}
    .height {height: 21rem;}
    .FonteTextoss{font-size: 26.3px;font-style: bold;}

  
    }

    @media (min-width:760px) 
    {
    .sidebar{visibility: hidden;}
    .TextoMenu:hover{background-color:#343296;}
    .TextoMenu ul li a:hover{color: #343296;}
    .height{height: auto;}
    }

    @media(max-width: 500px)
    {
          .alturaDiv{height: auto;}
    }

   .carousel-caption{visibility: visible;}

    @media  (min-width: 201px) and (max-width:849px)
    {
    .FonteNomeSite{font-size: 30px;margin-top: -2px;}
    .topo > button {margin-top: 30px;}
   /* .sidebar{margin-top: 55px;}
    .sidebar.descer{margin-top:  77px;transition: 0.5s}*/
        .FonteTextos2{font-size: 20px;}
        .title h2 {
            font-size: 26px;
        }
       .margin > div img {margin:auto;}
         .TituloTextos{font-size: 35px; }
         .heightt{height: 28rem;}


    }



    @media (min-width: 1px) and (max-width: 700px)
    {
          .carousel-caption{top: 15%;}
          .textoCarousel{font-size: 18px;text-align: justify;}
          .tituloCarousel{font-size: 26px;text-align: left;width: 100%;}
          .topo2{margin-top:15vh;}
          a.buttonPagee{padding:3px;padding-left:5px;padding-right:5px;margin: 3px;border-radius: 2px;background-color: #28256c;}
          .textoCarouselEspecial {font-size: 18px;text-align: justify;}
.img-site{background-size: cover;background-position: center top;background-attachment: fixed;background-repeat: no-repeat;padding-top: 300px;padding-bottom: 300px;background-image: url(./img/paisagem.jpg);height: 100vh;background-color: linear-gradient(90deg, #433db0 , #4180c1  ,#3d52ac,#3d60aa);}
.img-site2{background-size: cover;background-position: center top;background-attachment: fixed;background-repeat: no-repeat;padding-top: 300px;padding-bottom: 300px;background-image: url(./Logos/LogoTCCB3.2.png);height: 100vh;background-color: linear-gradient(90deg, #433db0 , #4180c1  ,#3d52ac,#3d60aa);}
.img-site3{background-size: cover;background-position: center top;background-attachment: fixed;background-repeat: no-repeat;padding-top: 300px;padding-bottom: 300px;background-image: url(./img/paisagem3.jpg);height: 100vh;background-color: linear-gradient(90deg, #433db0 , #4180c1  ,#3d52ac,#3d60aa);}


    }

    @media (min-width: 850px) and (max-width: 1200px)
    {
         .FonteTextos2{font-size: 20px;}
        .title h2 {
            font-size: 24px;
        }
    }

    @media (min-width: 1201px)
    {
         .FonteTextos2{font-size: 21px;}
        .title h2 {
            font-size: 28px;
        }
        .Padding div{padding: 50px;}
    }

    @media (max-width:470px)
    {
    .FonteNomeSite{font-size: 23px;}
    .margintop{margin-top: 8px;}
    .FonteTextos2{font-size: 17px;}
    .title h2
    {
        font-size: 21.5px;
    }
    }

    @media (max-width:300px)
    {
    .FonteNomeSite{font-size: 19px;}
    .title{font-size: 20px;}
    }



.altura
{
    height: 1000px;
}

.invisibel
{
    left:-500px;
    opacity: 0;
}


.invisibel2
{
    opacity: 0;
}

.invisibel.apareca1
{
left: 0px;
 transition: ease 1.5s;
 opacity: 1;
}


.invisibel2.apareca2
{
transition: ease 2s;
opacity: 1;

}

.invisibel3
{
right: -1000px;
opacity: 0;
}


.invisibel3.apareca3
{
right: 0px;
transition:  ease 1.5s;opacity: 1
;
}







.mudarCor:hover{background-color: 
#8fdad2 ;transition-duration: 2s;transition: ease 2s;}



.parent{
  width:60px;
  height:60px;
  background:#2033db;
  border-radius:100%;
  cursor:pointer;
  z-index: 17;
  
  left: 8px;
  position: fixed;


}

.parent:focus
{
    background-color: red;
}

    @media(min-width: 481px) 
    {
       div.margin{margin: auto;}
    }

    @media (max-width: 380px)
    {
        
          /* .parent{left:75%; }*/
    }

       @media (min-width: 701px) and (max-width:1300px)
    {
        
          /* .parent{left:90%; }*/
    }
/*@keyframes breathe{
  0%{transform:scale(1)}
  50%{transform:scale(0.5)}
  100%{transform:scale(1)}
}
@keyframes breathe2{
  0%{transform:scale(1)}
  50%{transform:scale(1.2)}
  100%{transform:scale(1)}
}
*/

/*.parent:beforea{
  content:"";
  position:absolute;
  top:-25px;
  left:-25px;
  z-index:2;
  width:90px;
  height:90px;
  background:#2033db;
  opacity:0.3;
  border-radius:100%;
  animation:breathe2 2s infinite;
  margin-left: auto;
}
.parent:after
{
  content:"";
  position:absolute;
  top:-45px;
  left:-45px;
  z-index:3;
  width:130px;
  height:130px;
  background:#2033db;
  opacity:0.2;
  border-radius:100%;
  animation:breathe 2s infinite;
  margin-left: auto;
}
*/
.parent > span
{
  color:#fff;
  font-weight:bold;
  font-size:38px;
  position:relative;
  z-index:17;
  left:14px;
}


/*@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

.fade-scale {
  transform: scale(0);
  opacity: 1;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}*/


ul.diferente{
    width: auto;
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
    justify-content: center;
   }

   ul.diferente a{display: flex;flex-wrap: wrap;margin: auto;justify-content: center;}

 
   img.min{
    width: 220px;
    height: 200px;
    display: block;
    border: 1px solid black;
    padding: 3px;
    border-radius:10px;
   }

   .lbox{
    visibility: hidden;
    opacity: 0;

   }

   .lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(10,10,10,0.7);
    position:fixed;
   }

   .box_img {
    width: 1150px;
    height: calc(100vh - 3rem);
    margin: 0px auto;
   }

   .botao{
    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: auto;
    height: auto;
    font-size: 50px;
    text-align: center;
   }



#close{text-decoration: none;}
   #prev {
    left: 10%;
    top: 45%;
    text-decoration: none;
   }

   #next {
    right: 10%;
    text-decoration: none;
    top: 45%;
   }

   #close {
    right: 2%;
    top: 0;
   }

   .box_img img{
    opacity: 0;
   }

   .lbox:target .box_img img{
    width: 80%;
    height: calc(80vh - 4rem);
    margin-left: 10%;
    margin-top: 7%;
    opacity: 1;
    transition: opacity .4s linear;
   }
   @media(min-width: 1px) and (max-width: 900px) 
    {
          .alturaDiv{height: 2000px;}
          /*.parent{left:85%; }*/
    }

    @media(min-width: 1px) and (max-width: 370px)
    {
      .lbox:target .box_img img
      {
        width: 80%;
        height: calc(80vh - 2rem);
        margin-left: 10%;
        margin-top: 20%;
        opacity: 1;
        transition: opacity .4s linear;
     }


        #prev {
    left: 6%;
    top: 45%;
    text-decoration: none;
   }

   #next {
    right: 6%;
    text-decoration: none;
    top: 45%;
   }

    }

   @media(min-width: 371px) and (max-width: 600px)
   {
      .lbox:target .box_img img
      {
        width: 80%;
        height: calc(80vh - 6rem);
        margin-top: 15%;
        margin-left: 10%;
        opacity: 1;
        transition: opacity .4s linear;
     }

    #prev {
    left: 6%;
    top: 45%;
    text-decoration: none;
   }

   #next{
    right: 6%;
    text-decoration: none;
    top: 45%;
   }
}
 @media(min-width: 601px) and (max-width: 800px)
 {
    .lbox:target .box_img img{margin-top: 15%;}


    .lbox:target .box_img img{   margin-top: 10%;}
  
    #prev {left: 4%;top: 45%;text-decoration: none;}

    .height{  height: calc(80vh - 10rem);}

    #next{right: 4%;text-decoration: none;top: 45%;}
  }
 }

  @media(min-width: 801px) and (max-width: 1200px)
 {
    .lbox:target .box_img img{margin-top: 15%;}

    #prev {left: 8%;top: 45%;text-decoration: none;}

    #next{right: 8%;text-decoration: none;top: 45%;}
 }


