body{
margin: 0px;
padding: 0px;
width: 100%;
height: 100%;
background-color: #FAFAFA;
overflow-x: hidden;}

a,a:hover{
text-decoration: none;}

li,ul{
list-style: none;
text-decoration: none;}

hr{
width: 100%;
height:1px;
margin:0px; 
padding:0px;}

/* SIDEBAR */
div#content{
display: flex;
flex-direction: row;
margin: 0px;
padding: 65px 0px 0px 0px;}

div#sidebar{
width: 300px;
height: 100vh;
overflow-y: auto;
overflow-x: hidden;
margin: 0px;
padding: 0px;
border-right: 1px solid rgb(212, 212, 212);}

ul#list-profs{
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
display: flex;
flex-direction: column;}

ul#list-profs li{
width: 100%;
height: 140px;
margin: 0px;
padding: 0px;
display: flex;
flex-direction: column;
background: linear-gradient(0deg, rgba(224,224,224,1) 15%, rgba(250,250,250,1) 45%, rgba(255,255,255,1) 75%);
border-bottom: 1px solid rgb(168, 168, 168);}

::-webkit-scrollbar-track {
background-color: #bbbaba;}

::-webkit-scrollbar {
width: 7px;
height:6px;
background: #F4F4F4;}

::-webkit-scrollbar-thumb {
background: rgb(93, 93, 93);}

img.image{
width: 40%;
height: 126px;
margin: 13px 0px 0px 0px;
padding: 0px;}

div#info-prof{
transition: linear 0.2s ;
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
margin: 0px;
padding: 0px;}

div#info-prof:hover{
width: 100%;
height: 100%;
background-color: rgba(240, 240, 240, 0.2);}

div#nome-professor{
margin: 0px;
padding: 0px;
font-size: 20.4px;
font-family: 'Josefin Sans', sans-serif;}

div#dados{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0px;
padding: 0px}

button#btn-colsultar-horarios{
height: 32px;
font-size: 14px;
font-weight: 500;
margin: 0px; 
padding: 4px 5px 4px 5px;
border: 0px;
outline: none;
transition: linear .5s all;
font-family: 'Josefin Sans', sans-serif;
color: #FAFAFA;
background-color: rgb(250, 121, 15);
box-shadow: 2px 2px 4px rgb(197, 197, 197);}

button#btn-colsultar-horarios:hover{
color: rgb(255, 255, 255);
background-color: rgb(253, 101, 0);}

/* BODY */
div#body{
width: calc(100% - 299px);
height: calc(100vh - 65px);
position: absolute;
top: 65px;
left:299px;}

div#professor{
width: 100%;
height: 190px;
display: flex;
flex-direction: row;
border-bottom: 1px solid rgb(194, 194, 194);}

div#description{
padding: 0px 0px 0px 0px;
background-color: rgba(233, 233, 233, 0.315);}

div#header-description{
width: 100%;
height: 30%;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
margin: 0px;
background-color: rgb(212, 212, 212);}

a#ver-perfil{
width: 50%;
margin: 5px 25px 0px 0px;
font-size: 18px;
font-family: 'Montserrat';
font-weight: 700;
color: rgb(0, 51, 218);
text-align: right;}

a#ver-perfil:hover{
color: rgb(0, 51, 218);}

div#description h3{
width: 50%;
font-size: 32px;
margin: auto 0px auto 18px;}

div#body-description{
height:70%;
padding: 5px 10px 0px 10px;
display: flex;
align-items: center;}

div#description span{
font-size: 17px;
margin: -10px 0px 0px 0px;
text-align: center;
font-family: 'Josefin Sans',sans-serif;}

/* AGENDAR TUTORIA */

div#agendar-tutoria{
width:100%;
padding: 0px 10px 0px 0px;
margin: 0px;
display: flex;
flex-direction: row;}

.calendario{
width: 350px;
padding: 0px;
margin: 20px;
background-color: rgb(240, 240, 240);
font-size: 14px;
text-align: center;
position: relative;}

.calendario table{
width: 100%;}

.calendario .mes{
display: none;}

.calendario td{
padding: 5px;
color: #666;
cursor: pointer;}

.calendario .mes_title{
font-size: 15px;}

.calendario .mes_title td{
background-color:#069;
color: white;
padding: 5px;
padding-bottom: 5px;}

.calendario .dias_title{
font-size: 14px;}

.calendario #volta, .calendario #vai{
padding: 0 10px;
line-height: 32px;
font-size: 16px;
text-decoration: none;
background: linear-gradient(to bottom, #fff,#ccc 130%);
margin: 1.4px 0px 0px 1.4px;
position: absolute;
color: #333;}

.calendario #volta:hover, .calendario #vai:hover{
background: linear-gradient(to bottom, #ccc,#fff 130%);}

.calendario #volta{
left: -1px;
top: -1px;}

.calendario #vai{
right: -1px;
top: -1px;}

div#horarios-professor{
width: 100%;
padding: 0px;
margin: 0px;}

table#table-professor{
margin-top: 20px;
background-color: #FFFFFF;
border:1px solid gray;
width: 100%;
text-align: center;}

table#table-professor th, table#table-professor td {
border: 1px solid #333;
padding: 5px 7px 5px 7px;}

table#table-professor tr.desativado{
background-color: rgb(204, 204, 204);}

table#table-professor tr.ativado{
cursor: pointer;
background-color: #A2FFCC;}

table#table-professor tr.ativado:hover{
transition: background .2s linear;
background-color: rgb(88, 246, 167);}

table#table-professor tr.desativado:hover{
cursor: context-menu;
transition: background .2s linear;
background-color: rgb(172, 172, 172);}

table#table-professor td {
color: rgb(31, 30, 30);
font-weight: 600;
font-size: 15px;}

table#table-professor th {
font-size: 16.7px;}

form div.linha{
height: 50px;
justify-content: center;
align-items: center;
display: flex; 
flex-direction: row;
flex-wrap: nowrap;}

input#btn-agendar{
color: white;
height: 35px;
background-color: #5c5c5c;
font-size: 16px;
border-radius:2px;
padding: 0px 8px 3px 8px;
margin: 0px;
border: 1px solid #666;
box-shadow: 2px 2px 7x gray;}

input#data-selecionada{
margin: 5px 0px 0px 0px;
height: 30px;
max-width: 140px;
text-align: center;}

span#span-data{
font-size:17px;
font-weight: 600;}

input#date{
border: 1px solid gray;
height:30px;}

@media  (max-width: 1100px){
        ul#list-profs li{
        width: 100%;
        height: 120px;}

        img.image{
        width: 35%;
        margin: 11px 0px 0px 0px;
        height: 108px;}

        div#nome-professor{
        margin: 9px 0px 0px 0px;
        font-size: 16px;}

        button#btn-colsultar-horarios{
        height: 28px;
        font-size: 12px;
        margin: 2px 0px 0px 0px; 
        padding: 3px 4px 3px 4px;}

        div#header-description{
        height: 25%;}

        div#body-description{
        height:75%;}

        div#description h3{
        font-size: 28px;}
        
        a#ver-perfil{
        font-size: 17px;}
        
        div#description span{
        font-size: 17px;}
}

@media (max-width: 991px){
        div#content{
        padding: 55px 0px 0px 0px;
        flex-direction: column;}

        div#body{
        width: 100%;
        height: calc(100vh);
        top: 205px;
        left:0;}

        img.image{
        width: 35%;
        margin: 5px 0px 0px 0px;
        height: 139px;}
        
        div#sidebar{
        height: 150px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        border-right: 0px;
        border-bottom: 0px solid rgb(182, 182, 182);}

        ul#list-profs{
        padding: 0px;
        margin:0px;
        flex-direction: row;}

        ul#list-profs li{
        width:240px;
        min-width: 240px;
        height: 150px;
        border-right: 1px solid gray;}

        div#dados{
        width: 65%;
        margin: -5px 0px 0px 0px;}

        div#nome-professor{
        font-size: 18px;}

        button#btn-colsultar-horarios{
        height: 32px;
        font-size: 13.5px;
        margin: 0px 0px 0px 0px; 
        padding: 3px 4px 3px 4px;}

        div#description h3{
        font-size: 26px;}

        a#ver-perfil{
        font-size: 16.5px;}
        
        div#description span{
        font-size: 16px;}

        input#btn-agendar{
        display: flex;
        height: 32px;
        font-size: 15px;
        justify-content: center;}

        input#data-selecionada{
        margin: 5px 0px 0px 0px;
        height: 30px;
        font-size: 13px;
        max-width: 100px;
        text-align: center;}
                
        span#span-data{
        font-size:16px;
        font-weight: 600;}
}

@media (max-width: 761px){
        div#agendar-tutoria{
        justify-content: center;
        align-items: center;
        flex-direction: column;}

        form div.linha{
        margin: 20px 0px 20px 0px;}

        input#btn-agendar{
        margin: 5px 0px 0px 0px;}
}

@media(min-width: 576px)  and (max-width: 760px){

        div#professor{
        height: 190px;}

        div#header-description{
        height: 27.5%;}
        
        div#body-description{
        height:72.5%;}
        
        div#description h3{
        font-size: 25px;}
        
        a#ver-perfil{
        font-size: 16px;}
        
        div#description span{
        padding: 0px 20px 0px 20px;
        font-size: 15px;}
        
        span#span-data{
        font-size:14px;
        font-weight: 600;}
}


@media(min-width: 360px)  and (max-width: 576px){

        div#professor{
        height: 250px;} 

        div#header-description{
        height: 20%;}
        
        div#body-description{
        height:80%;}

        div#description h3{
        font-size: 20px;}

        a#ver-perfil{
        font-size: 15.5px;}
        
        div#description span{
        text-align: justify;
        padding: 0px 10px 0px 10px;
        font-size: 15px;}

        span#span-data{
        font-size:13px;
        font-weight: 600;}
}

@media(max-width: 360px){

        div#professor{
        height: 270px;}

        div#header-description{
        height: 20%;}

        div#body-description{
        height:80%;}

        div#professor{
        padding: 0px 2px 0px 2px;
        height: 170px;} 

        div#description h3{
        font-size: 16px;}

        a#ver-perfil{
        font-size: 13px;}
        
        div#description span{
        font-size: 11.7px;
        padding: 5px}

        .calendario{
        max-width: 270px;}
}