    @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Josefin+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    body{
    width: 100%;
    height: 100%;
    margin: 0px; 
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 243);}

    a,a:hover{
    text-decoration: none;}

    a.nomeSite,a.nomeSite:hover{
    color: rgb(243, 243, 243);
    font-weight: 700;
    text-decoration: none;}

    div.errosCadastro{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 12px 0px 12px 0px;
    margin: 0px 0px 10px 0px;
    width: 100%; 
    font-size: 16.4px;
    color:white;
    background-color: rgb(51, 51, 51);}

    form{
    padding: 0px;
    display: flex;
    margin: 75px auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;}

    #header{
    margin: 0px 0px 20px 0px;
    padding: 0px;}
    
    #content-body{
    background-color: white;
    border: 1px solid rgb(212, 212, 212);
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px 20px 0px;}

    div#header p{
    color: #ff8206;
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    display: block;
    padding: 0px;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;}

    div#header a{
    font-family: 'Berkshire Swash', sans-serif;
    font-size: 30px;
    padding: 0px;
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-width: 278px;
    letter-spacing: 2px;
    color: rgb(75, 83, 79);
    transition: color .2s ease;
    text-align: center;}

    div#header a:hover{
    color: rgb(66, 73, 69);
    text-decoration: none;}

    select{
    margin: 0px auto 0px auto;
    padding: 0px;  
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    font-size: 15.5px;
    text-align: center;
    text-align-last:center;
    cursor: pointer;
    background-color: white;}

    div#selects{
    margin:0px;
    padding: 0px;}
    
    select option{
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 15px;}

    select option:hover{
    background-color: rgb(255, 255, 255);}

    .input{
    transition: border .3s ease;
    width: 100%;
    height: 44px;
    border:2px solid rgb(195, 195, 195);
    outline-color: rgb(165, 165, 165);
    caret-color: rgb(61, 57, 57);
    padding: 7px;
    color: rgb(46, 41, 41);
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;}

    input::-webkit-input-placeholder{
    color: rgb(148, 148, 148);}

    input:-moz-placeholder { 
    color: rgb(148, 148, 148); }

    input::-moz-placeholder{
    color: rgb(148, 148, 148);}

    input::-ms-input-placeholder{
    color: rgb(148, 148, 148);}

    .flex-row{
    display: flex;
    justify-content: center;
    flex-direction: row;}
    
    input#btn-cadastrar{
    width: 250px;
    height: 45px;
    margin: 12px auto 15px auto;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 2px;
    font-size: 20px;
    line-height: 30px;
    outline: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

    input#btn-cadastrar:hover{
        width: 270px;}
    
    i.fa-eye{
    position: absolute;
    cursor: pointer;
    top: 22.5px;
    font-size: 20px;
    color: rgb(117, 139, 137);
    left: calc(97% - 25px);
    transition: color .2s linear;}

    i.fa-eye:hover{
    color: rgb(64, 73, 72);}

    .hoverEfect:hover{
    border:2px solid rgb(149, 149, 149);}

    span.possuiLogin{
    text-align: center;
    padding: 0px 20px 0px 20px;
    color: rgb(39, 100, 241);}

    .possuiLogin a{
    font-size: 16px;
    line-height: 24px;
    color: rgb(39, 100, 241);}

@media(max-width:991px){

    form{
    margin: 60px auto;}

    .flex-row{
    flex-wrap: wrap;}

    div#header p{
    font-size:32px;}

    div#header a{
    font-size: 26px;}

    div.errosCadastro{
    font-size: 16px;}

    input#btn-cadastrar{
    width: 160px;
    height: 45px;
    font-size: 18px;
    line-height: 27px;}
}


@media (min-width:400px) and  (max-width:576px){

    .possuiLogin a{
    font-size: 14px;
    color: rgb(39, 100, 241);}

}


@media (max-width:400px){
    
    #header{
    margin: 20px 0px 20px 0px;
    padding: 0px;}

    div#header p{
    font-size:30px;}

    div#header a{
    max-width: 190px;
    font-size: 24px;}

    div.errosCadastro{
    font-size: 14px;}

    .possuiLogin a{
    font-size: 13px;
    color: rgb(39, 100, 241);}
}