.cards{
    padding: 0px 0px 40px 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-container  h3 {
    margin: 10px 0;
    color: rgb(255, 122, 6);
}

.card-container h6 {
	margin: 5px 0px 10px 0px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.card-container  p {
	font-size: 14px;
    line-height: 21px;
    color: rgb(54, 54, 54);
    padding: 0px 10px 0px 10px;
}

.card-container {
    background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
    padding-top: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: auto;
	position: relative;
	width: 350px;
    max-width: 100%;
    text-align: center;
    transition: all .2s linear;
}

.card-container:hover {
    transform: translateY(-5px);
}

.card-container .round {
	border: 1px solid rgb(156, 156, 156);
    border-radius: 50%;
    width: 50%;
    height: 175px;
	padding: 7px;
}

h6.midias{
    color: white;
}

.skills{
    transition: all .4s linear;
    background-color: rgb(75, 75, 75);
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
	list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.skills ul li {
    transition: all .4s linear;
    border: 1px solid white;
    color: white;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
    padding: 7px;
    cursor: pointer;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.skills ul li:hover {
	border: 1px solid rgb(248, 58, 0);
    color:rgb(255, 72, 0);
}

