.cards{
    padding: 0px 50px 150px 50px;
    margin: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    border-left-color: rgb(182, 182, 182);
    border-left-style: solid;
    border-left-width: 10px;
    margin: auto;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-container:hover {
    transform: translateY(-5px);
    border-left-color: rgb(255, 142, 43);
}

.card-container .round {
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50%;
    width: 50%;
    height: 175px;
    padding: 7px;
    margin: auto;
}

.card-container  h3 {
    margin: 10px auto 0px auto;
    color: rgb(255, 122, 6);
}

.card-container h6 {
	margin: 7px auto 12px auto;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.card-container  p {
	font-size: 14px;
    line-height: 21px;
    color: rgb(54, 54, 54);
    padding: 0px 10px 0px 10px;
}

h6.midias{
    display: inline-block;
    color: white;
}

.midias{
    transition: all .3s ease;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.midias ul {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
	list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.midias ul li a {
    text-decoration: none;
    color: rgb(255, 87, 21);

    transition: all .3s ease;
    border: 1px solid rgb(255, 87, 21);
    color:rgb(255, 87, 21);
	border-radius: 2px;
	display: inline-block;
    font-size: 12px;
    
    margin: 0 7px 7px 0;    
    padding: 7px;
    cursor: pointer;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.midias ul li a:hover {        
    border: 1px solid rgb(255, 87, 21);
    color:rgb(255, 255, 255);
    background-color: rgb(255, 87, 21);
}

@media (min-width: 1500px){
    .cards{
        padding: 0px 150px 100px 150px;
        margin: 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px){
    .card-container {
        min-width: 85vw;
    }
}