.no-events {
    font-size:30px;
    color: #dd7003;
    font-family: 'Berkshire Swash';
}

/*
 * Alan adicionou até aqui
 */

.img-events{
background-image: url('../img/backgrounEvents.jpg') !important;}

.shape-fill{
background-image: url('../img/shapeFill.png');
background-size: 100% 100%;
width: 100%;
height: 150px;
max-height: 100%;
padding: 0px;
margin: 0px;
box-sizing: border-box;
position: relative;}

.shape-fill2{
background-image: url('../img/shapeFill.png');
background-size: 100% 100%;
width: 100%;
height: 150px;
max-height: 100%;
padding: 0px;
margin: 0px;
position: relative;
transform: rotate(180deg);}

.flex-box{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
padding: 0px 3% 0px 3%;
margin: 0px;
background-color: #FAFAFA;
min-height: 500px;}

.column-one{
text-align: left;
height: auto;
margin: -20px 0px 0px 0px;
padding: 0px 40px 0px 0px;}

.column-one h2{
font-size:70px;
color: #dd7003;
padding-bottom: 0px;
font-family: 'Berkshire Swash';}

.column-one h3{
font-family: 'Montserrat';
color: #272727;
font-size: 32px;
padding: 0px 0px 20px 0px;
font-weight: bold;
border-bottom: 2px dashed black;}

.column-one p{
margin-top: 20px;
text-align: justify;
font-family: 'Josefin Sans';
font-size: 17px;
font-weight: 400;}

#btn-ver-eventos{
color: white;
background-color: rgb(7, 16, 19);
padding: 8px 17px 8px 17px;
width: 210px;
outline: 0;
font-family: 'Josefin Sans';
border-radius: 30px;
margin-top: 5px;
font-size: 17px;
border: none;
transition: background .2s linear;}

#btn-ver-eventos:hover{
background-color: #dd7003;}

.column-two{
background-image: url('../img/EventosPessoas.jpg');
background-size: 100% 100%;
padding: 0px;
margin: 0px;
height:370px;
position: relative;}

.column-two::before{
position: absolute;
content: '';
width: 100%;
height: 100%;
left: 0;
top: 0;
background-color: rgba(255, 105, 0, .15);}

section#prox-events{
padding: 0px 0px 40px 0px;
margin: 0px;
background-color: #FFFAF2;
background-color: #FAFAFA;
height: auto;
width: 100%;}

#header-events{
display: flex;
flex-direction: row;
margin: auto;
padding: 0px 0px 30px 0px;}

div.direction{
display: flex;
flex-direction: row;
justify-content: center;
padding: 0px 10px 0px 10px;
align-items: center;}

.info-box{
display: flex;
flex-direction: row; 
justify-content: center;
width: 100%;
padding: 40px 0px 30px 0px;}

#info-events{
padding: 0px;
width: 100%;
margin: 0px;}

#info-events h2{
font-size:50px;
color: #dd7003;
font-family: 'Berkshire Swash';}

#info-events h3{
font-size:27px;
color: #272727;
font-weight: 700;
font-family: 'Montserrat';}

#info-events h4{
width: 100%;
font-size:19px;
display: block;
float: left;
color: #2c2f31;
font-family: 'Josefin Sans';}

#img-calendar{
background-image: url('../img/calendar.png');
background-size: cover;
min-width: 155px;
margin:0px 15px 15px 5px;
background-repeat: no-repeat;
min-height: 155px;}

#cards-events{
padding: 10px 15px 0px 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
align-content: flex-start;
margin: auto;}

.card{
transition: all .3s linear;
border: 1px solid rgba(0, 0, 0, 0.322);
height: auto;
background-color: rgb(255, 255, 255);
color: black;}

div.cardTranslateY{
transition: all .2s linear;}

.card-img-top{
width: 100%;
height: 250px;}

.card-body h5{
font-size: 25px;
font-family: 'Berkshire Swash';
color: rgb(223, 105, 2);}

.card-body p.card-content{
font-size: 17px;
text-align: justify;
color: #13161a;
font-family: 'Josefin Sans';}

.card-body div span{
margin: auto;}

.card-body small.details{
transition: color .2s linear;
font-size: 15.5px;
padding: 0px 10px 0px 10px;
color: slategray;
font-weight:500;
font-family: 'Josefin Sans';}

button#btn-ver-galeriaEventos{
display: block;
width: 250px;
font-size: 20px;
margin: 20px auto 10px auto;
padding: 10px 0px 10px 0px;
background-color: #212529;
border: solid 1px rgb(207, 207, 207);
border-bottom: 1px solid rgb(141, 141, 141);
border-right: 1px solid rgb(141, 141, 141);
border-width: 5px;
outline: none;
color: white;
border-radius: 50px;
font-family: 'Josefin Sans', sans-serif;}

@media(min-width: 1560px){

    div.cardWidth{
    max-width: 26%;}

    .flex-box{
    padding: 50px 1% 30px 1%;}

    div#bem-vindo{
    margin: auto;
    max-width: 80%;}

}

@media(max-width: 1151px){

    .info-box div#img-calendar{
    width: 120px;
    padding: 0px;
    background-size: cover;
    height: 120px;}

    #info-events h2{
    font-size: 2.7rem;}

    #info-events h3 {
    font-size: 1.4em;}

    #header-events{
    padding: 0px 0px 20px 0px;}

    .column-one{    
    text-align: center;
    padding: 0px 40px 0px 0px;}

    .column-one h3{
    border-bottom: 0px dashed black;}
}

@media (max-width: 991px){

    .shape-fill, .shape-fill2{
    height: 100px;}

    .flex-box{
    padding: 0px 30px 15px 30px;}

    .column-two{
    margin: 0px auto 20px auto;
    padding: 0px;
    height:320px;
    width: 90%;}

    #cards-events{
    padding: 10px;}
}

@media (min-width: 992px){

    div.cardTranslateY:hover{
    transition: all .4s linear;
    transform: translateY(-4px);}

    .card:hover .details{
    color: rgb(3, 114, 77);}
}


@media(min-width: 767px)  and (max-width: 991px){

    .column-one{
    padding: 40px 0px 50px 0px;
    height: auto;}

    .column-one h2 {
    font-size: 4em;}

    .column-one h3 {
    font-size: 1.7em;}

    .column-one p{
    margin-bottom: 45px;}

    div button#btn-ver-eventos{
    display: block;
    margin: auto}

	.column-two {
    padding: 0px 50px 20px 50px;
    width: 85%;
    height: 300px;} 

    .info-box div#img-calendar{
    width: 140px;
    padding: 0px;
    background-size: 100% 100%;
    height: 140px;
    min-width: 100px;
    min-height: 100px;}

    .info-box{
    padding: 40px 0px 20px 0px;}

    #info-events h2 {
    font-size: 2.6em;}

    #info-events h3 {
    font-size: 1.6em;}

    #info-events p {
    font-size: 1.3em;}

    .card-img-top{
    height: 170px;}
}

@media(min-width: 576px)  and (max-width: 767px){

    .flex-box{
    padding: 0px 27px 20px 27px;}

    .column-one{
    padding: 20px 0px 40px 0px;
    height: auto;}

    .column-one h2 {
    font-size: 3em;}

    .column-one h3 {
    font-size: 1.5em;}

    .column-one p{
    margin-bottom: 35px;}

    div button#btn-ver-eventos{
    display: block;
    margin: auto}

	.column-two {
    width: 80%;
    height: 270px} 

    #img-calendar{
    display: none;}

    .info-box{
    padding: 35px 0px 20px 0px;}

    #info-events h2 {
    text-align: center;
    font-size: 2.7em;}

    #info-events h3 {
    text-align: center;
    font-size: 1.4em;}

    #info-events h4 {
    text-align: center;
    font-size: 1.1em;}

    .card-img-top{
    height: 200px;}

    .card{
    margin-top: 25px;}
}

@media (min-width: 401px) and (max-width: 575px){

    .card-img-top{
    height: 200px;}
    
    .flex-box{
    padding: 0px 27px 20px 27px;}

    .column-one h2 {
    font-size: 3em;}

    .column-one h3{
    font-size: 1.5em;}

    .column-one p{
    margin-bottom: 35px;}

    div button#btn-ver-eventos{
    display: block;
    margin: auto}

	.column-two {
    width: 100%;
    height: 250px} 

    .info-box{
    padding: 30px 0px 0px 0px;
    margin: auto;}

    #img-calendar{
    display: none;}

    #info-events h2 {
    text-align: center;
    font-size: auto;}

    #info-events h3 {
    text-align: center;
    font-weight: 600;
    padding-right: 15px;
    font-size: 1.4em;}

    #info-events h4 {
    text-align: center;
    padding-right: 10px;
    font-size: 1em;}

    .card{
    margin-top: 25px;}
}

@media (max-width: 576px){

    .flex-box{
    padding: 10px 5% 20px 5%;
    margin-top: 0px;}

    .column-one{
    padding: 20px 0px 50px 0px;
    height: auto;}

    #info-events h3{
    padding: 0px 27px 0px 27px;}

    .info-box{
    padding: 30px 0px 0px 0px;}

}

@media (max-width: 400px){

    .info-box{
    padding: 25px 0px 0px 0px;}

    #img-calendar{
    display: none;}

    .card-img-top{
    height: 200px;}

    .flex-box{
    padding: 0px 27px 10px 27px;}

    .column-one h2 {
    font-size: 2.6em;}

    .column-one h3 {
    font-size: 1.3em;}

    .column-one p{
    font-size: 1em;
    margin-bottom: 35px;}

    div button#btn-ver-eventos{
    display: block;
    margin: auto}

	.column-two {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 250px;} 

    .info-box{
    padding: 20px 0px 0px 0px;
    margin: 0px;}

    div.direction{
    flex-direction: column-reverse;}

    #info-events h2{
    text-align: center;
    font-size: 2em;}

    #info-events h3{
    text-align: center;
    font-weight: 600;
    padding-right: 15px;
    font-size: 1.2em;}

    #info-events h4{
    text-align: center;
    font-size: 1em;}

    #cards-events{
    padding: 0px;}

    .card{
    margin-top: 0px;}

    .card-body p.card-content{
    font-size: 15.4px;}

    .card-body h5{
    font-size: 21px;}

    .card-body small.details{
    font-size: 14px;}

}
