footer{
height: 90vh;
padding: 0px;
margin: auto;
box-sizing: border-box;
}

.img-footer{
width: 100%;
height: 100%;
min-height: 90vh;
background-image: url('../img/backgrounEvents.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-position: center center;
padding: 0px 30px 0px 30px;}

.img-footer::before{
width: 100%;
height: 100%;
position: absolute;
left:0;
top:0;
content: '';
background-color: rgba(3, 2, 0, 0.45);}

.img-footer{
width: 100%;
height: 100%;
position: relative;
color: #EEEEEE;
text-align: center;
font-family: 'Berkshire Swash';}

.img-footer h2{
position: relative;
color: #FF8800;
margin-bottom: 50px;
margin-top: 0px;
text-align: center;
font-family: 'Berkshire Swash';}

.img-footer h3{
position: relative;
text-align: center;
display: block !important;
font-size: 30px;
margin-bottom: 50px;
max-width: 95vw;
font-family: 'Josefin Sans',sans-serif;}

div#conteudo{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
height: 100%;}

#links-footer{
width: 100%;
padding:0px;
margin: 0px;}

ul.list-links{
width: 100%;
display: flex;
flex-direction: column;}

ul.list-links li{
position: relative;
text-decoration: none;
list-style: none;
width: 100%;
color: white;}

ul.list-links li a{
font-size: 20px;
font-family: 'Josefin Sans';
font-weight: 400;
margin: auto;
transition: border .4s linear;
color: rgb(111, 199, 226);}

ul.list-links li a:hover{
text-decoration:none;
color: rgb(250, 156, 4);}

#copyright{
width: 100%;
max-width: 100vw;
top: 100%;
background-color: rgba(0, 0, 0, 0.9);
height:50px;
position: absolute;
left:0}

#copyright span{
line-height: 50px;
color: white;
font-family: 'Josefin Sans',sans-serif;}

@media(min-width: 767px)  and (max-width: 991px){
    .img-footer h2 {
    margin-bottom: 25px;
    font-size: 3.5em;}

    .img-footer h3 {
    margin-bottom: 25px;
    font-size: 1.7em;}

    #copyright span{
    font-size: 1em;}
}

@media(min-width: 576px)  and (max-width: 767px){

    .img-footer h2{
    margin-bottom: 30px;
    font-size: 2.7em;}

    .img-footer h3{
    margin-bottom: 30px;
    font-size: 1.4em;}

    ul.list-links li a{
    font-size: 1.1em;}

    #copyright span{
    font-size: .9em;}
}


@media (min-width: 401px) and (max-width: 575px){

    .img-footer h2{
    font-size: 2.3em;
    margin-bottom: 30px;
    word-wrap: break-word;}

    .img-footer h3{
    margin-bottom: 30px;
    font-size: 1.3em;}

    ul.list-links li a{
    font-size: 1em;}

    #copyright span{
    font-size: .8em;}

}


@media (max-width: 400px){

    .img-footer{
    height: 70vh;
    min-height: 400px;}

    .img-footer{
    padding: 30px;}

    .img-footer h2{
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 50px;}

    .img-footer h3 {
    margin-bottom: 20px;
    font-size: 1em;}

    ul.list-links li a{
    font-size: 1em;}

    #copyright span{
    font-size: .8em;}

    .img-footer{
    padding: 0px 30px 0px 30px;}

}