div.body-galeria-eventos::-webkit-scrollbar-track {background-color: #bbbaba;}
div.body-galeria-eventos::-webkit-scrollbar {width: 7px;height:6px;background: #F4F4F4;}
div.body-galeria-eventos::-webkit-scrollbar-thumb {background: rgb(93, 93, 93);}


div#modal-galeria-eventos{
    position:fixed;
    top:100vh;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index:1005;
    transition: all 0.3s linear;
    background-color:white;
}

div.visibilidade-modal{
    opacity:0;
    visibility: hidden;
}

div.header-modal{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid rgb(206, 206, 206);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

i.fa-times{
    font-size: 45px;
    padding: 0px;
    top: -22px;
    position: absolute;
    left: calc(100% - 55px);
    cursor: pointer;
}

div.cards-galeria-rows{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
}

div.filtro{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
div.filtro span{
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
}
    
input.filtro-evento{
    margin: 0px 15px 0px 0px;
    height: 30px;
    text-decoration: none;
    text-align: center;
}
    
input#btn-filtrar{
    width: 100px;
    height: auto;
    padding: 3px;
    margin: 0px;
    font-size: 20px;
    border-radius: 1px;
    border: none;
    color: white;
    background-color: rgb(7, 16, 19);
}

span.title-galeria{
    font-size: 30px;
    font-family: 'Berkshire Swash';
    color: #dd7003;
    line-height: 55px;
    margin-left: 8px;
}

div.body-galeria-eventos{
    width: 100%;
    height: calc(100% - 55px);
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(230, 230, 230);
}

div.card-galeria{
    width: 33.333%;
    height: 300px;
    background-color: rgb(206, 206, 206);
    border: 1px solid beige;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

div.card-galeria-image{
    background-image: url('../img/EventosPessoas.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: inline-block;}

div.shadow{
    transition: all .4s linear;
    width: 100%;
    height:100%;
    display: inline-block;
    visibility: visible;
    opacity: 1;
    background-color:#00000085;}

span.title-galeria-card{
    width: 100%;
    height: 15%; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: rgb(0, 225, 255);
    font-family: 'Josefin Sans';
}

div.card-galeria-descricao span{
    width: 100%;
    height: 65%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0px 20px 5px 20px;
    font-size: 15.5px;
    font-weight: 500;
    color:rgb(255, 255, 255);
    font-family: 'Josefin Sans';
}

div.card-galeria-descricao {
    width: 100%;
    height: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}


div.card-galeria-data span{
    width: 100%;
    height: 5%; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 5px 20px;
    font-size: 14px;
    color:rgb(255, 101, 6);    
    font-weight: 500;
    font-family: 'Josefin Sans';
}

input[type="button"].btn-galeria-fotos{
    width: 150px;
    margin: 5px auto 0px auto;
    padding: 0px;
    height: 40px;
    line-height: 0px;
    position: relative;
    background-color: black;
    display: block;
    color:white;
    border: 1px solid rgba(231, 230, 230, 0.801);
    border-radius: 2px;
    box-shadow: 1px 1px 8px rgba(149, 149, 149, 0.308);
}


@media (max-width: 1300px){
    
    span.title-galeria-card{
        font-size: 17px;
    }

    div.card-galeria-descricao span{
        font-size: 14px;
    }

    div.card-galeria-data span{
        font-size: 13px;
    }

    input[type="button"].btn-galeria-fotos{
        width: 120px;
        height: 35px;
        font-size: 14px;
    }

}

@media (min-width: 991px) and (max-width: 1200px){

    span.title-galeria-card{
        font-size: 16px;
    }

    div.card-galeria-descricao span{
        font-size: 12px;
    }

    div.card-galeria-data span{
        font-size: 11px;
    }

    input[type="button"].btn-galeria-fotos{
        width: 120px;
        height: 30px;
        font-size: 13px;
    }

}