* {
  outline: none;
}

h1,
h2,
h3,
h4 {
  padding: 0px;
}

nav {
  width: 100vw;
  height: 65px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  background-color: #ffffff;
}

nav ul#list-navbar {
  width: 100vw;
  padding: 0px;
  display: flex;
  flex-direction: row;
  min-width: 700px;
}

nav ul li {
  height: 65px;
  line-height: 65px;
  padding: 0px 15px 0px 15px !important;
  margin: 0px !important;
  width: auto;
  text-align: center;
  list-style: none;
}

nav div a {
  transition: color .3s ease;
  font-size: 16px;
  font-family: 'Montserrat';
  letter-spacing: 0.07rem;
  text-decoration: none;
  color: #292827;
  width: 100%;
  display: flex;
  flex-direction: row;
}

nav div a:hover {
  color: #ff8817;
  text-decoration: none;
}

h1 {
  width: 100%;
  line-height: 17.5px;
  font-size: 100px;
  font-family: "Berkshire Swash", sans-serif;
}

a.name-site {
  width: auto;
  line-height: 65px;
  font-size: 40px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  font-family: "Berkshire Swash", sans-serif;
}

h2 {
  font-size: 70px;
  color: #dd7003;
  padding-bottom: 0px;
  font-family: "Berkshire Swash";
}

a.actived {
  color: #ff8817;
}

.container-fluid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.menu {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0px;
}

div.links-menu{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: auto;
}


.login {
  cursor: pointer;
}

a.login:hover {
  color: #ff8817;
}

.tutoria {
  cursor: pointer;
  transition: color 0.2s linear;
}

.tutoria:hover {
  color: #ff8817;
  cursor: pointer;
}

i.sem-foto{
  margin-top: 10px; 
  font-size: 45px; 
  text-align: center;
}

img.com-foto{
  width: 50px; 
  border-radius: 50%;
  margin-top: 7px;
}

div.container-user {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

ul.user-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150px;
  padding: 0px;
  margin: 0px;
  transform: translateX(-40px);
}

div.items-sobre {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 65px;
  transition: all .2s ease;
  transform: translateX(-15px);
}

div.items-sobre2 {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 65px;
  transition: all .2s ease;
  transform: translateX(-15px);
}

.user-infos {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 160px;
  background-color: #ffffff;
  border: 1px solid rgb(207, 207, 207);
  box-shadow: 1px 1px 4px solid;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

span.nome-usuario {
  margin: 0px auto 5px auto;
  border-bottom: 1px solid rgb(202, 202, 202);
  width: 100%;
  font-size: 14.4px;
  padding: 0px 0px 7px 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #292827;
}

a.ver-perfil {
  color: #ff8817;
  font-size: 13px;
  padding: 5px 0px 0px 10px;
  width: 69px;
}

a.sair {
  font-size: 14px;
  color: #ff8817;
  padding: 5px 10px 0px 0px;
  width: 69px;
  display: block;
  text-align: right;
}

div.logout{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

i.fa-sign-out-alt{
  margin: 0px 7px 0px 0px;
}

span.icon-menu {
  background-image: url("../img/menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 75px;
  height: 40px;
  padding: 0px;
  margin: auto 50px auto auto;
  position: absolute;
  cursor: pointer;
  display: none;
}

.triangulo-cima {
  width: 0;
  height: 0;
  transform: translateX(25px);
  margin: 0px auto 0px auto;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #ffffff;
}

.aparecer{
  display: none;
}

div.header_post:hover div#triangulo-para-baixo {
  top: 120px;
}

@media (max-width: 1200px) {

  a.name-site {
    font-size: 32px;
  }

  nav div a {
    font-size: 14px;
  }

  ul.user-perfil {
    max-width: 130px;
  }

  span.nome-usuario {
    font-size: 14.5px;
  }

  a.ver-perfil {
    font-size: 12.5px;
    width: 65px;
    padding: 0px 0px 0px 5px;
  }

  a.sair {
    font-size: 12.5px;
    width: 65px;
    padding: 0px 5px 0px 0px;
  }

}

@media (max-width: 961px) {

  nav {
    height: 55px;
  }

  nav ul li{
    margin: auto !important;
  }

  div.container-user{
    position: absolute;
    top: -5px;
    left: calc(95% - 60px);
  }

  a.name-site {
    height: 55px;
    line-height: 55px;
    font-size: 32px;
    margin: auto;
    width: auto;
    display: block;
  }

  i.sem-foto{
    font-size: 37px; 
  }
  
  img.com-foto{
    width: 45px; 
    margin-top: 10px;
  }

  span.icon-menu {
    width: 35px;
    height: 35px;
    top: 10px;
    margin-left: 2.5%;
    display: block;
  }

  div.links-menu {
    display: none;
  }

  .aparecer{
    display: block;
  }

  ul.user-perfil {
    transform: translateX(-30px);
  }

  .triangulo-cima {
    transform: translateX(65px);
  }
  
  div.items-sobre2 {
    max-width: 150px;
    width: 150px;
    min-width: 150px;
    transform: translateX(-50px);
  }

}

@media (min-width: 401px) and (max-width: 575px) {

  a.name-site {
    max-width: 190px;
    font-size: 25px;
  }

  span.icon-menu {
    width: 35px;
    height: 30px;
  }

}

@media (max-width: 400px) {
  a.name-site {
    max-width: 190px;
    font-size: 25px;
  }

  span.icon-menu {
    width: 33px;
    height: 27px;
  }
}

@media (max-width: 300px) {
  a.name-site {
    max-width: 200px;
    font-size: 27px;
  }

  span.icon-menu {
    width: 30px;
    height: 27px;
  }
}