@charset "UTF-8";

*{outline: none;}

h1,h2,h3,h4{
padding: 0px;}

nav{
width: 100vw;
height: 65px;
margin: 0px;
padding: 0px;
display: flex;
flex-direction: row;
position: fixed;
z-index: 1000;
border-bottom: 1px solid rgba(0, 0, 0, 0.151);
background-color: #ffffff;}

nav ul{
width: 100%;
padding: 0px;
margin: auto auto auto calc(100% - 600px);
display: flex;
flex-direction: row;}

nav ul li{
height: 65px;
line-height: 67px;
padding: 0px 20px 0px 20px;
list-style: none;}

nav div a{
font-size: 19px;
font-family: 'Josefin Sans';
text-decoration: none;
color: #292827;
width: auto;
display: flex;
flex-direction: row;}

nav div a:hover{
color: #ff8817;
text-decoration: none;}

h1{
width: 100%;
line-height: 17.5px;
font-size: 100px;
font-family: 'Berkshire Swash',sans-serif;}

a.name-site{
width: auto;
max-width: 250px;
margin-left: 4%;
line-height: 65px;
font-size: 40px;
padding: 0px;
outline: none;
text-decoration: none;
display: flex;
align-items: center;
cursor: pointer;
color: black;}

h2{
font-size:70px;
color: #dd7003;
padding-bottom: 0px;
font-family: 'Berkshire Swash';}

a.actived{
color: #ff8817;}

.container-fluid{
height: 100%;
width: 100%;
display: flex;
flex-direction: row;}

.links-menu{
width: 100%;
display: flex;
flex-direction: row;   
padding: 0px;}

.login{
cursor: pointer;}

a.login:hover{
color: #ff8817;}

/*SOBRE*/

.tutoria{
cursor: pointer;
transition: color .2s linear;}

.tutoria:hover{
color: #ff8817;    
cursor: pointer;}

ul#items-sobre{
width: auto;
margin: 0px;
transform: translateX(-35px);
position: relative;
padding: 0px;}

ul#items-sobre li{
font-size: 14px; 
padding: 0px;
background-color:rgb(255, 255, 255);
border: 1px solid rgba(170, 168, 168, 0.2);
box-shadow: 1px 1px 5px rgba(158, 158, 158, 0.205);
border-top: none;}

ul#items-sobre li a{
width: 100%;
padding: 0px 15px 0px 15px;
font-size: 15.5px;
display: flex;
justify-content: center;}

ul#items-sobre{
display: flex;
flex-direction: column;
opacity: 0;
visibility: hidden;
transition: all ease-in-out .2s ;
position: absolute;
top: 65.47px;}

span.icon-menu{
background-image: url('../img/menu.png');
background-size: cover;
background-repeat: no-repeat;
width: 75px;
height: 40px;
padding: 0px;
margin:auto 2% auto auto;
cursor: pointer;
display: none;}

@media (max-width: 991px){

    nav{
    height: 55px;}   

    a.name-site{
    height: 55px;
    line-height: 55px;
    font-size: 40px;}

    .sumir{
    display: none;}

    span.icon-menu{
    display:block;
    width: 50px;
    background-size: contain;
    height:35px;}
}
@media(min-width: 576px)  and (max-width: 767px){
    a.name-site{
    max-width: 220px;
    margin-left: 4%;
    font-size: 30px;}
}

@media (min-width: 401px) and (max-width: 575px){
    a.name-site{
    max-width: 220px;
    margin-left: 3.5%;
    font-size: 31px;}

    span.icon-menu{
    width: 45px;
    height: 30px;}
}

@media (max-width: 400px){
    a.name-site{
    max-width: 210px;
    margin-left: 2.5%;
    font-size: 29px;}

    span.icon-menu{
    width: 33px;
    height:27px;}
}

@media (max-width: 300px){

    a.name-site{
    max-width: 200px;
    margin-left: 5%;
    font-size: 27px;}

    span.icon-menu{
    width: 30px;
    height:27px;}
}
