section{
margin: 0px;
padding: 0px;
width: 100%;
height: 100%;
background-color: #FAFAFA;}

section.texto-projeto {
border-bottom: 1px solid rgba(150, 150, 151,0.3);} 

.img-ondas{
background-image: url('../img/shapeFill.png');
background-size: 100% 100%;
width: 100%;
height: 150px;
max-height: 100%;
padding: 0px;
margin: 0px;
box-sizing: border-box;
position: relative;}

.img-ondas2{
background-image: url('../img/shapeFill.png');
background-size: 100% 100%;
width: 100%;
height: 150px;
max-height: 100%;
padding: 0px;
margin: 0px;
position: relative;
transform: rotate(180deg);}

.flex-box {
padding: 70px 50px 0px 50px;
display: flex;
flex-direction: row;
align-items: center;}

div.column-one{
margin: 30px 0px 0px 0px;
padding: 0px 40px 0px 20px;
display: flex;
flex-direction: column;
align-self: flex-end;}

section.texto-projeto p{ 
font-size: 16px;
line-height: 24px;
font-family: 'Montserrat', sans-serif;
color: rgb(32, 32, 32);}

div.column-one h1{
font-size: 45px;
margin: auto;
text-align: left;
font-family: 'Berkshire Swash';
padding: 0px;
transform: translateY(-40px)}

div.column-two{
margin: 30px 0px 0px 0px;
width: 350px;
height: 350px;
display: block;
background-image: url('../img/womens-conversation.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;}

div.column-two::before{
position: absolute;
content: '';
width: 100%;
height: 100%;
left: 0;
top: 0;
background-color: rgba(255, 105, 0, .15);}

div.column-three{
display: flex;
flex-direction: row;
padding: 0px 70px 70px 70px;}

.envolvidos{
background-color: #FAFAFA;
padding: 0px;
margin: 0px;}

#header-events{
width: 100%;
margin: 0px;
padding: 50px 20px 0px 20px;
display: flex;
flex-direction: row;}

div.direction{
display: flex;
flex-direction: row;}

div#info-events{
width: 100%;
display: flex;
flex-direction: column;
margin: 15px auto 0px auto;
padding: 0px 0px 20px 0px;}

div#info-events p{
text-align: justify;
font-size: 16.4px;
font-family: 'Josefin Sans', sans-serif;
margin: 30px auto 0px auto;}

#info-events h2{
text-align: center;
font-size:64px;
margin-top: 20px;
color: #ff8206;
font-family: 'Berkshire Swash';
padding: 0px;}

#info-events h3{
font-size:30px;
padding: 0px;
color: #494949;
font-weight: 500;
font-family: 'Montserrat';
text-align: center;
margin: auto;
padding: 10px 0px 0px 0px;}

div#info-events ul{
display:flex; 
flex-direction: row;
flex-wrap: wrap;
width: 100%;
margin: 20px 0px 0px 0px;
padding: 0px !important;
list-style: none;
text-decoration: none;}

div#info-events ul li{
display:flex; 
flex-direction: row;
flex-wrap: wrap;
align-items: center;
width: 100%;
font-size: 16px;
list-style: none;
text-decoration: none;
color: rgb(7, 94, 255);}

div#info-events ul li a{
text-decoration: none;
margin:7px auto;
font-size: 18px;
font-family: 'Josefin Sans', sans-serif;
color: rgb(7, 94, 255);}


@media(min-width: 1560px){

    div.column-one{
        margin-top: 50px;
        padding: 0px 20px 0px 100px;
    }

    div.column-two{
        margin-top: 50px;
        max-width:38vw;
        height: 300px;
        padding: 0px 100px 0px 0px;
        display: block;
        background-image: url('../img/womens-conversation.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;}

        div.column-three{
            padding: 5px 150px 100px 150px;
        }
}

@media (max-width: 1100px){
    div.column-one h1{
    font-size: 35px;}

    #info-events h2{
    font-size:50px;}

    #info-events h3{
    font-size:27px;}
}

@media (max-width: 991px){
    .img-ondas, .img-ondas2{
    height: 100px;}

    .flex-box{
    padding: 20px;
    flex-direction: column;}

    div.column-one{
    padding: 0px;}

    div.column-one h1{
    text-align: center;
    font-size: 40px;}

    div.column-two{
    width: 100%;}

    div.column-three{
    padding: 0px 20px 30px 20px;}

    #info-events h2{
    font-size:37px;}

    #info-events h3{
    font-size:22px;
    text-align: center;}

    div#info-events{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: none;
    justify-content: none;
    padding: 0px;}

    div.direction{
    display: flex;
    flex-direction: column-reverse;}
}

@media (max-width: 500px){

    div.column-one h1{
    font-size: 30px;}
}

@media (max-width: 400px){

    div.column-one h1{
    font-size: 30px;}

    #info-events h2{
    margin: 0px;
    padding: 0px;
    font-size:30px;}

    #info-events h3{
    padding: 5px 0px 0px 0px;
    font-size:19px;}

    div#info-events ul li a{
    text-decoration: none;
    margin:7px auto;
    font-size: 16.2px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(7, 94, 255);}
}

