@charset "UTF-8";
.bottomNavigationBar{
    visibility: visible;
    width: 100%;
    background-color: rgb(39, 128, 128); 
    z-index: 17;
    height: 50px;
    position:fixed;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.26);}

    .bottomNavigationBar ul{
    display: flex;
    padding: 0px;
    flex-direction: row;
    width: 100%;
    list-style: none;}

    .bottomNavigationBar ul li{
    width: 33.333%;
    color: white;
    height:100% ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-right: 1px solid black;}

    .bottomNavigationBar ul li span a.linkBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}

    ul li.border-none{
    border: 0px;}

    .bottomNavigationBar ul li span{
    line-height: 50px;}

    .bottomNavigationBar ul li i{
    font-size: 3.1vw;
    margin-right: 5px;
    margin-top: 10px;}

    .bottomNavigationBar ul li span .tutoria{
    font-size: 2.5vw;}

    @media (min-width:992px){
    .bottomNavigationBar{
    visibility: hidden;}
}

@media (max-width:992px){
    .none{
    display: none;}

    nav a.nameSite{
    margin-left: 10px;
    width: 100%;}

    #sobre:hover .rotate{
    transform-origin:5px 12px;
    transform: rotate(180deg);}

    ul#items-sobre li{
    text-align: center;  
    border: 1px solid rgba(0, 0, 0, 0.062);  
    padding: 0px 10px 0px 10px;
    background-color:rgb(39, 128, 128) ;}
    
    .textSobre{
    line-height: 60px;
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Times New Roman', sans-serif;}
    
    #sobre:hover ul#items-sobre {
    visibility: visible;
    opacity: 1;}
    
    #items-sobre li:hover {
    background-color:rgb(30, 95, 95);} 
    
    #items-sobre li a{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;}
    
    #items-sobre li:hover a{
    color: black;}
    
    i.rotate{
    color: #fff;
    margin-left: 1.5%;
    font-size: 16px;
    width: auto;
    height: 20px;
    margin-bottom: 7px;
    transition: all ease .3s;}
    
    ul#items-sobre{
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out .2s ;
    width: 100%;
    left: 66.5666%;
    top: -86.5px;
    position: absolute;}

    #sobre:hover .rotate{
    transform-origin:8px 15px;
    transform: rotate(180deg);}
}

@media (min-width:761px)  and (max-width:991px) {

    .bottomNavigationBar ul li i{
    font-size: 2.2vw;
    margin-right: 5px;
    margin-top: 0px;}
    
    .bottomNavigationBar ul li span .tutoria{
    font-size: 1.9vw;}

    .bottomNavigationBar ul li span{
    line-height: 40px;}

    i.rotate{
    margin-bottom: 6px;}

        @media (min-width:761px)  and (max-width:891px) {

        .bottomNavigationBar ul li i{
        font-size: 2.2vw;
        margin-right: 5px;
        margin-top: 0px;}
        
        .bottomNavigationBar ul li span .tutoria{
        font-size: 2vw;}

        .bottomNavigationBar ul li span{
        line-height: 40px;}
    }
}

@media (min-width:661px)  and (max-width:760px) {

    .bottomNavigationBar ul li i{
    font-size: 2.7vw;
    margin-right: 5px;
    margin-top: 0px;}
    
    .bottomNavigationBar ul li span .tutoria{
    font-size: 2.2vw;}

    .bottomNavigationBar ul li span{
    line-height: 40px;}
}

@media (min-width:401px) and (max-width: 660px){

    .bottomNavigationBar ul li i{
    font-size: 3.2vw;
    margin-right: 5px;
    margin-top: 0px;}
    
    .bottomNavigationBar ul li span .tutoria{
    font-size: 2.4vw;}

    .bottomNavigationBar ul li span{
    line-height: 40px;}

    #items-sobre li a{
    font-size: 11px;}

    @media (min-width:401px) and (max-width: 501px){
        
    .bottomNavigationBar ul li i{
    font-size: 3.6vw;
    margin-right: 5px;
    margin-top: 0px;}
        
    .bottomNavigationBar ul li span .tutoria{
    font-size: 2.9vw;}
    }

}

@media (min-width: 301px) and (max-width:400px){

    .bottomNavigationBar ul li i{
    font-size: 4.2vw;
    margin-right: 5px;
    margin-top: 0px;}
    
    .bottomNavigationBar ul li span .tutoria{
    font-size: 3.4vw;}

    .bottomNavigationBar ul li span{
    line-height: 35px;}

    #items-sobre li a{
    font-size: 9px;}

    ul#items-sobre{
    top: -80px;}

    @media (min-width: 351px) and (max-width:400px){
        .bottomNavigationBar ul li i{
        font-size: 3.7vw;
        margin-right: 5px;
        margin-top: 0px;}

        .bottomNavigationBar ul li span .tutoria{
        font-size: 3.4vw;}
    }
}

@media  (min-width: 200px) and (max-width: 300px){
    .bottomNavigationBar ul li i{
    font-size: 5vw;
    margin-right: 5px;
    margin-top: 0px;}
    
    .bottomNavigationBar ul li span .tutoria{
    font-size: 4vw;}

    .bottomNavigationBar ul li span{
    line-height: 25px;}
}


