@charset "UTF-8";

/* INICIALIZAÇÕES */

    body{
    overflow-x: hidden;
    /* font-size: 62.5%*/} 

    a{
    text-decoration: none;
    color: white;}

    a:hover{
    color:white;
    text-decoration: none;}

    div{
    margin: auto;}

    li{
    text-decoration: none;
    list-style: none;}

.imgMenu{
    width: 100%;
    height:100%;
    max-height: 100vh;
    background-attachment: fixed;
    background-size: cover;}

/* INICIO */

.Inicio{

    height: auto;
    min-height: 1000px;
    width: 100vw;
    background-color: tomato;  } 

    hgroup h1{
    margin: 30px 0px 15px 0px;
    color: rgb(22, 59, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 500%;}

    hgroup.hgroup h2{
    color: rgb(131, 15, 25);
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

    h3.titulo {
    color:rgb(28, 52, 110);
    text-align: center;
    font-family: fantasy;}

    article section.section{
    margin-left: auto;
    margin-right: auto;
    height:auto;
    box-shadow: 3px 3px 10px rgba(8, 8, 8, 0.287);}

    .hgroup{
    margin: 7vw auto 0vw auto;
    display: block;
    text-align: center;}

    div span.text{
    width: auto;
    display: block;
    text-align: center;
    font-size: 150%;}

    div.item{
    margin: 100px auto 100px auto;}

/* FIM DO INICIO */

/* CARDS */

    section#cardDeck{
    background-color: sandybrown;
    background-color:#48465d;
    width:100%;
    margin:0px;
    padding:0px;
    height:auto;
    max-height:100%;}  

    section header#headerInicio{
    margin: 0px 15px 20px 15px;
    padding-top:20px;}

    #tituloEventos{
    margin: 5% 0px 30px 0px; 
    width: auto;
    text-align: center;
    font-size: 500%;
    color: rgb(131, 15, 25);
    color: #00ff95;
    font-family: Georgia, 'Times New Roman', Times, serif;}

    #textoEventos{
    width: 80%;
    text-align: justify;
    margin: auto;
    color:rgb(0, 0, 0);
    color: white;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

    #cardDeck article.row{
    margin: 10vw auto 0px auto;}

    .proxEvents{
    display:block;
    color: rgb(81, 169, 172);
    text-align: center;
    margin-bottom: 0.7vw;
    font-size: 270%;}

    .cardBody{
    width: 100%; 
    height: auto;
    padding: 0px;
    color: white;
    border-radius: 5px;
    margin-bottom: 11.5vw;
    background-color: rgba(0, 0, 0, 0.77);
    box-shadow: 15px 15px 0px rgb(138, 114, 226);
    box-shadow: 15px 15px 0px rgb(124, 106, 184);
    transition: all ease .7s;}

    .card-title {
    padding: 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;}

    .card-title h5{
    text-align: left;
    font-size: 150%;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(245, 79, 2);
    font-family: 'Times New Roman', serif;}

    .card-title h6{
    font-size: 135%;
    margin:-2px 0px 0px auto;
    color: rgba(27, 142, 187, 0.726);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

    .cardText{
    font-size: 115%;
    padding: 0px 0px 25px 0px;
    text-align: justify;}

    .cardText2 > *{
    padding: 0px;
    margin: 0px;}

    .visivel{
    animation: surgir .7s ease;
    opacity: 1;
    height: 100%;
    display: block;
    top: 0px;}

    .invisivel{
    opacity: 0;
    display: none;
    transition: opacity ease .7s;}

    .verMais {
    float: right;
    width: 150px;
    margin-bottom: 10px;
    font-size: 100%;
    padding: 7px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background-color: rgba(253, 253, 253, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
    transition: all ease .6s}

    .verMenos{
    float: right;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
    transition: all ease .6s;
    color: white;
    border: 1px solid white;
    background-color: rgba(253, 253, 253, 0.1);}

    .date h1{
    padding: 0px;
    font-size: 250%;
    color: skyblue;}   

    .date h2{
    font-size:140%;
    padding: 0px;
    color: rgb(217, 235, 135);}  

    .hour{  
    padding: 0px;
    text-align: right;
    color: chocolate;
    display: block;
    float: right;} 

    .hour div h2{
    margin: 0px;
    padding:0px;  
    font-size: 200%;} 

    .inicio{  
    padding: 0px;
    margin: 0px 0px 0px 0px;}

    h4.tituloInformacoes {  
    color: rosybrown;
    padding: 0px;
    font-size: 150%;} 

    .txtInformacoes{  
    text-align: justify;
    font-size: 110%;} 

    .obsText{  
    font-size: 110%;
    text-align: justify;
    padding: 0px;} 

    @keyframes surgir {
    0%{
    opacity: 0;
    display: none;}

    10% {
    opacity: 0.1;
    display: none;}

    20% {
    opacity: 0.2;}

    30% {
    opacity: 0.3;
    display: none;}

    40% {
    opacity: 0.4;}

    50% {
    opacity: 0.5;}

    60% {
    opacity: 0.6;}

    70% {
    opacity: 0.7;}

    80% {
    opacity: 0.8;}

    90% {
    opacity: 0.9;}
    
    100% {
    opacity: 1;
    }
}

section#eventos-passados{
    background-color: rgb(66, 147, 148);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:0px;
    padding:0px;
    height:auto;
    max-height:100%;}

    .galeriaEventosTitle{
    text-align: center;
    font-size: 270%;
    color: #282835;

    margin: 35px 15px 1.7vw 15px;
    margin-top: 5%; }

    .verFotos{
    float: right;
    width: 100px;
    margin-bottom: 10px;
    font-size: 100%;
    padding: 7px;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    background-color: rgba(253, 253, 253, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.596);
    transition: all ease .6s}

    .sombra{
    box-shadow: 15px 15px 0px rgb(2, 206, 206);}

/* PAGINAÇÃO */

.paginacao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0px; 
    margin-top: -30px;
    padding-bottom: 50px;}

a.buttonPagination{
    padding:5px 10px 5px 10px;
    margin: 3px;
    border: 1px solid rgba(0, 0, 0,.2);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: #265d91;}


li.Active a{
    border: none;
    background-color: #36bbc7;
    color: white;}

li.Active a:hover{
    background-color: #36bbc7;
    color: white;}

li:not(.Active) a.buttonPagination:hover{
    color: white;
    border: 1px solid rgba(253, 253, 253, 0.658);
    background-color: #36bbc7d2;}


/*INICIO GALERIA*/
    .galeria-fotos{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    top:0px;
    left: 0px;
    z-index: 1000;
    transition: all linear .1s;}

    #close-galery{
    display: block;
    float: right;
    font-size: 60px;
    color: white;
    margin: -15px 10px 0px auto;
    cursor: pointer;}
    
    #footer-galery{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: calc(83% - 4rem);
    height: auto;
    min-height: 150px;}

    span.ant {
    width: 5%;
    cursor: pointer;
    padding: 0px;
    font-size: 420%;
    margin: auto 0px auto 0px;
    color: white;}

    span.prox{
    width: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 420%;
    color: white;}

    .images{
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 0px 5% 0px 5%;
    width: 90%;}

    .images div{
    margin: 0px auto 0px auto;
    height: 100%;
    width:12.8571428%;}
    
    .images div img{
    margin: 0px;
    cursor: pointer;
    height: 100%;
    width:100%;}  

    .exibir{
    width: 70%;
    height: 55%;
    margin-top: 60px;
    max-height: 70%;}

    img#imagem-exibir{
    width: 100%;
    height:  100%;}

    span#text-img {
    display: block;
    float: right;
    margin: 5px 0px;
    color: white;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

    .img-Selecionada{
    border: 2px solid white;}

/* FOOTER */
.page-footer{
    background-color:#3b39a1;
    font-size: 15px;
    min-height: 250px;
    font-family: 'Source Sans Pro', sans-serif; }

/* MEDIA QUERYS */

@media (min-width:992px){

    .cardBody:hover .verMais{
    width: 170px;
    background-color: rgba(253, 253, 253, 0.2);
    box-shadow: 1px 1px 3px rgb(0, 0, 0);}

    .cardBody:hover .verMenos{
    width: 140px;
    background-color: rgba(253, 253, 253, 0.2);
    box-shadow: 1px 1px 3px rgb(0, 0, 0);}

    .cardBody:hover .verFotos{
    width: 120px;
    background-color: rgba(253, 253, 253, 0.2);}

    .cardBody:hover{
    box-shadow: -13px -13px 0px rgb(226, 196, 114);
    box-shadow: -15px -15px 0px rgb(138, 114, 226);}

    .sombra:hover {
    box-shadow: -15px -15px 0px rgb(2, 206, 206);}
}


@media (max-width:992px){

    .date{
    display: flex;
    flex-direction: row;
    text-align: center;}

    .hour{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 10px;}

    .card-title h5{
    margin: auto;}
}

@media (min-width:761px)  and (max-width:991px){

    #tituloEventos{
    font-size: 370%;}
    
    #textoEventos{
    text-indent: 15px;
    width: 90%; 
    font-size: 140%;}

    .date{
    height: 35px;}

    .date h1{
    padding: 0px;
    font-size: 190%;
    color: skyblue;}

    .date h2{
    font-size:150%;
    line-height: 35px;
    color: rgb(217, 235, 135);}  

    .hour div h2{  
    font-size: 170%;} 

    h4.tituloInformacoes{  
    font-size: 130%;} 

    .proxEvents{
    font-size: 210%;}

    .galeriaEventosTitle{
    text-indent: -20px;
    font-size: 210%; 
    margin-bottom: 12px;}

    .cardText{
    font-size:100%;}

    .card-title h5{
    font-size: 135%;}
}



@media (min-width:401px) and (max-width: 760px){

    .imgMenu{
    min-height: 50vh;}

    #textoEventos{
    width: 90%; 
    font-size: 135%;}

    #tituloEventos{
    font-size: 300%;}

    .date{
    height: 40px;}

    .date h1{
    font-size: 180%;}

    .date h2{
    font-size:155%;
    line-height: 35px;}  

    .hour div h2{  
    font-size: 150%;} 

    h4.tituloInformacoes {  
    font-size: 125%;} 

    .txtInformacoes{  
    font-size: 95%;}

    .cardText{
    font-size: 93%;}

    .card-title h5{
    font-size: 125%;}


    @media (min-width:401px) and (max-width: 660px){

        #tituloEventos{
        font-size: 300%;}

        .proxEvents{
        font-size: 200%;}

        .galeriaEventosTitle{
        text-indent: -20px;
        font-size: 200%; 
        margin-bottom: 12px;}

        .card-title{
        display: flex;
        flex-direction: column;}

        .card-title h6{
        margin: auto;}

        .cardBody{
        box-shadow: 10px 10px 0px rgb(226, 196, 114);
        box-shadow: 10px 10px 0px rgb(91, 75, 150);
        margin-bottom: 100px;
        width:90%;}

        .sombra{
        box-shadow: 10px 10px 0px rgb(2, 206, 206); }

        .verMais{
        width: 50%;}

        .verFotos{
        width: 40%;}

        .verMenos{
        width: 50%;}
    }

    @media (min-width:661px)  and (max-width:760px){

        #tituloEventos{
        font-size: 320%;}

        .proxEvents{
        font-size: 180%;}

        .galeriaEventosTitle{
        text-indent: -20px;
        font-size: 180%; 
        margin-bottom: 12px;}
    }

    @media (min-width:501px)  and (max-width:580px){

        .date{
        display: flex;
        flex-direction: column;}

        .hour{
        margin-top: 70px;}

        .date h1{
        font-size: 210%;}

        .date h2{
        font-size:170%;}  

        .hour div h2{  
        font-size: 150%;} 
    }

    @media (min-width: 401px) and (max-width:500px){

        .date{
        display: flex;
        flex-direction: column;}

        .date h1{
        font-size: 200%;}

        .date h2{
        font-size:145%;}

        .hour{
        display: flex;
        flex-direction: column;
        margin-top: 70px;}

        .hour div h2{  
        font-size: 130%;}   

        h4.tituloInformacoes {  
        font-size: 115%;} 
    }

}


@media (min-width: 301px) and (max-width:400px){

    .verMais{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 15px;
    width:  80%;}

    .verFotos{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 15px;
    width:  80%;}

    .verMenos{
    margin-right:  10%;
    margin-left: 10%;
    font-size: 15px;
    width:  80%;}

    .cardBody{
    box-shadow: 8px 8px 0px rgb(91, 75, 150);}

    .sombra{
    box-shadow: 8px 8px 0px rgb(2, 206, 206); }

    hgroup h1{
    font-size: 300%;}

    hgroup.hgroup h2{
    font-size: 170%;}

    h3.titulo{
    font-size: 115%;}

    div span.text{
    text-align: justify;
    font-size: 105%;}

    div.item{
    margin-top: -100px;
    margin-bottom: -100px;}

    .imgMenu{
    min-height: 60vh;}

    #tituloEventos{
    font-size: 270%;}

    .galeriaEventosTitle{
    text-indent: -20px;
    font-size: 150%; 
    text-align: center;
    margin-bottom: 12px;}

    .proxEvents{
    font-size: 165%;}

    #textoEventos{
    width: 100%; 
    font-size: 110%;}

    .date{
    display: flex;
    flex-direction: column;}

    .hour{
    display: flex;
    flex-direction: column;
}

    .date h1{
    font-size:130%;}

    .date h2{
    font-size:120%;}  

    .hour div h2{  
    font-size:110%;} 

    h2.inicio{ 
    margin-bottom: 7px;} 

    h4.tituloInformacoes {  
    font-size:105%;} 

    .txtInformacoes{ 
    font-size:92%;}

    #tituloEventos{
    margin: 5% 0px 15px 0px;}

    .cardText{
    font-size:94%;}

    .card-title{
    display: flex;
    flex-direction: column;}

    .card-title h5{
    font-size: 105%;}

    .card-title h6{
    font-size: 100%;
    margin: 5px auto 2px auto;}

    .cardBody{
    margin-bottom: 70px;
    width:90%;}

    .paginacao{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;}

    @media (min-width: 375px) and (max-width:400px){
        .date h1{
        font-size: 140%;}
        
        .date h2{
        font-size:127%;} 

        .hour{
        display: flex;
        flex-direction: row;}

        .hour div h2{  
        font-size: 105%;} 

        h4.tituloInformacoes{  
        font-size: 105%;} 

        .txtInformacoes{  
        font-size: 90%;} 
    }
}










