#navside{
position: fixed;
top: 65px;
left: 0;
width: 250px;
height:100vh;
background-color: #FAFAFA;
border-right: 1px solid rgba(192,192,192,.2);
z-index: 1001;
transition: transform .15s linear;
box-shadow: 1px 1px 2px rgba(192,192,192,.2);
transform: translateX(-250px);
overflow: auto;}

div ul.list-navside{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
list-style: none;
margin-bottom: 50px}

div ul.list-navside li{
width: 100%;
height: auto;}

div ul.list-navside li a.item-navside{
text-decoration: none;
list-style: none;
color: black;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-bottom: 1px solid rgba(0,0,0,.3);
font-family: 'Josefin Sans',sans-serif;
line-height: 70px;
font-size: 25px;}

div ul.list-navside li a.item-navside:hover{
text-decoration: none;
color: #ff8817;}