/* CARDS */

    a{
    text-decoration: none;}
    
    h1.title{
    text-transform:  uppercase;
    font-size: 300%;
    letter-spacing: 1px;
    text-align: center;
    margin:auto;
    padding-top: 200px;
    margin-bottom: 50px;
    color: #393849;}

    .cards{
    padding: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;}

    .card-prof{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 70px auto;
    width: 100%;
    height: auto;
    min-height: 250px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-100px,-20px,0);
    transition: .5s;}

    .card-prof-start{
    opacity: 1;
    visibility: visible;
    transform: translate3d(0,0,0);}

    .imagem{
    padding: 0px;
    background-color: white;
    height: 100%;
    width: 100%;}

    .imagem img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 90%;
    width: 225px;
    max-height: 90%;
    height: 225px;
    background-color: whitesmoke;
    border: 7px solid white;
    border-radius:70%;}

    .information-main{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    padding: 0px 7px 0px 7px;
    height: auto;}

    .information-main header{
    display: flex;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    color: white;
    height: 20%;}

    .information-main header h1{
    font-size:200%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff8800;
    height: 100%;}

    .information-main span{
    color: black;
    margin: auto;
    padding: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    height: 60%;}

    .information-main ul{
    margin: auto;
    padding: 0px;
    height: auto;}

    .information-main ul li a i{
    text-decoration: none;}

    .rede-social{
    width:100%;
    padding: 0px;
    margin: 0px auto 0px auto;
    height: auto;
    display: flex;
    text-decoration: none;
    flex-direction: row;}

    .rede-social li{
    display: flex;
    align-items: flex-end;
    width:auto;
    height: auto;
    margin: auto;
    padding: 0px;
    font-size: 30px;}

    .pointer-events{
    pointer-events: none;}

    ul.rede-social li a i.fa-facebook-square{
    color: #3b5598;}

    ul.rede-social li a i.fa-twitter-square{
    color: #38A1F3;}
    
    ul.rede-social li a i.fa-instagram{
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); }

    ul.rede-social li a i.fa-google-plus-square{
    color:#db4a39 ;}

    .fa-facebook-square:hover,
    .fa-twitter-square:hover,
    .fa-instagram:hover,
    .fa-google-plus-square:hover{
    transition: all linear 0.1s;
    color: white}

/* FIM - CARDS*/


/* MÍDIAS */

@media (max-width: 1061px){
    section#cards-profs{
    margin-top: -270px;
    -webkit-clip-path: polygon(0 0, 100% 4%,100% 100%, 0% 70%);
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);}
}

@media  (min-width: 301px) and (max-width:401px){
    section#cards-profs{
    -webkit-clip-path: polygon(0 0, 100% 1.5%,100% 100%, 0% 70%);
    clip-path: polygon(0 0, 100% 1.5%, 100% 100%, 0% 100%);}

    h1.title{
    font-size: 220%;
    padding-top: 100px;
    margin-bottom: 20px;}

    span.textConteudo{
    width: 91%;
    font-size: 1.1rem;}

    .information-main header h1{
    font-size: 170%;}

    .information-main span{
    font-size: 100%;}

    .information-main ul{
    padding: 10px 0px;}

}

@media (min-width:402px) and (max-width: 760px){
    section#cards-profs{
    margin-top: -270px;
    -webkit-clip-path: polygon(0 0, 100% 4%,100% 100%, 0% 70%);
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);}

    h1.title{
    font-size: 250%;
    padding-top: 200px;
    margin-bottom: 30px;}

    span.textConteudo{
    width: 91%;
    font-size: 1.2rem;}

    .information-main header{
    padding-bottom: 7px;
    align-items: center;}
    
    .information-main header h1{
    font-size: 200%;}

    .information-main span{
    font-size: 107%;}

    .information-main ul{
    padding: 2px 0px;}

}


@media (min-width:761px) and (max-width: 1180px){
    .information-main header h1{
    font-size: 180%;}
    
    .information-main span{
    font-size: 105%;}

    .information-main header{
    align-items: center;}

    .information-main ul li{
    align-items: flex-end;}

        @media (min-width:767px) and (max-width: 991px){
        .information-main header{
        align-items: center;}
        }
}

@media(max-width: 576px)
{
    .card-prof{
    margin-top: 30px;}

    .imagem img{
    position: relative;}

    .information-main header{
    align-items: center;}
    
    .imagem{
    display: block;
    text-align: center;
    padding-top: 10px;
    height: auto;}

    .information-main ul{
    height: auto;}

    .information-main header{
    align-items: flex-start;
    margin: -10px auto 0px auto;
    height: auto;}

    .information-main span{
    padding: 5px;
    height: auto;}
}